.titulo1{
background-color: darkred;
color: beige;
display: flex;
justify-content: center;
font-family: 'Source Sans Pro', sans-serif;
}
.titulo2{
    font-family: 'Kolker Brush', cursive;
    font-size: 4rem;
}
.titulo3{
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size: 2rem;
}
body{
    background-image: url(https://www.txirula.com/modules/dbblog/views/img/post/ACUSTICAS_A_PRUEBA.jpg);
    background-size: cover
}
.contenedor{
    display: flex;
    justify-content: center;
}
button{
    background-color: antiquewhite;
    color: orchid;
}
.table{
    border-collapse: collapse;
}
.table td{
border: 1px solid;
text-align: center;
}
.table th:hover{
color: bisque;
background-color: darkgrey;
}
.table tr{
    color:aliceblue;
    background-color: rgba(216, 201, 133, 0.774);
    font-family: 'Roboto', sans-serif;
    font-size: 1git commitrem;
}
.caption{
    font-family: 'Times New Roman', Times, serif;
}
.table td:hover{
    color: red;
    background-color: rgb(180, 161, 131);
}