.titulo1{
background-color: rgb(255, 0, 191);
color: beige;
display: flex;
justify-content: center;
font-family: 'Source Sans Pro', sans-serif;
}
.titulo2{
    font-family: 'Kolker Brush', cursive;
    font-size: 4rem;
}
.titulo3{
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size: 2rem;
}
body{
    background-image: url(http://k30.kn3.net/taringa/0/8/3/E/D/B/SayttaM/26C.jpg);
    
}
